<h3> Artist Form </h3>

<%= form_for(@artists) do |f| %>
    <label>Artist Name name:</label>
    <%= f.text_field :name %>
    <label> Artist Bio</label>
    <%= f.text_area :bio%>
    <%= f.submit %>
    <% end %>